.character {
  padding: 0 1rem;
  gap: 1.5rem;
  height: 100%;
  background: var(--color-white);
  border-radius: var(--border-radius);
  width: 28rem;
  height: 26rem;
}
.character__image {
  text-align: center;
}
.character__image img {
  object-fit: cover;
  width: 30%;
  border-radius: 50%;
}

.character__content p {
  margin: 0.5rem;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__actions {
  display: flex;
}
.btn-favorite {
  background: transparent;
  outline: none;
  border: none;
}
.svg-star {
  width: 1.5rem;
  cursor: pointer;
}
.svg-star:hover {
  fill: #f0eaea;
}
.btn-favorite.selected .svg-star {
  fill: yellow !important;
}

@media screen and (max-width: 440px) {
  .character {
    width: 100%;
  }
}
