.card {
  background: var(--color-white);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  box-shadow: var(--shadow-bg1) 0px 3px 6px, var(--shadow-bg2) 0px 3px 6px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}
.card:hover {
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
  box-shadow: var(--shadow-bg1) 0px 6px 12px, var(--shadow-bg2) 0px 6px 12px;
}
.card__image img {
  width: 8rem;
  height: 100%;
  object-fit: cover;
}
.content__name {
  margin-top: 0;
  color: var(--color-dark);
}
