.characteristic {
  padding: 0.2rem 0.5rem;
  color: var(--color-white);
  font-weight: bold;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
}
.characteristic.primary {
  background: #44281d;
}
.characteristic.secondary {
  background: #f0e14a;
}
.characteristic.tertiary {
  background: #97ce4c;
}
.characteristic.quaternary {
  background: #e89ac7;
}
