.characters {
  /* background: yellow; */
  margin: 1rem 0;
  width: 70rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1020px) {
  .characters {
    grid-template-columns: repeat(4, 1fr);
    /* gap: 1rem; */
  }
}
@media screen and (max-width: 900px) {
  .characters {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .characters {
    grid-template-columns: repeat(2, 1fr);
  }
}
